.line{
border-bottom: 1px solid #e6e5e3ea;
}

.line-two{
    text-decoration: none;
    color: black;}

    .line-third{
        display: none;
    }

@media screen and (max-width:48em){
.line{
    text-align:center;}
    
}



@media screen and (max-width:48em){
    .line-two{
        padding-left: 2rem;
        padding-right: 2rem;
       
    }


@media screen and (max-width:48em){
    .line-third{
display: block;
    }
