    .box{
    border: 50px solid red;
    width: 200px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
   }

   .green{
    border: 50px solid green;
   }

    .blue{
    border: 50px solid blue;
   }

   .new{
    border: 50px solid #3498db;
   }

    .visibility{
    visibility: hidden;
  }
  x
    .display{
    display: none;
  }
  
    .img-size{
    width: 200px;
    height: 200px;
  }